---
---

<header
  id="topHeader"
  class="px-8 pt-8 fixed start-0 end-0 z-50 transition-all ease-in-out duration-300"
>
  <div
    id="navbar"
    class="navbar rounded-xl bg-white bg-opacity-5 backdrop-blur-md px-4 py-4 transition-all ease-in-out duration-300"
  >
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a>Item 1</a></li>
          <li>
            <a>Parent</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-white normal-case text-xl">IpekDev Co.</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>Item 1</a></li>
        <li tabindex="0">
          <details>
            <summary>Parent</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <div class="navbar-end flex">
      <a class="btn">Button</a>
    </div>
  </div>
</header>

<script>
  const topHeader = document.getElementById("topHeader");

  const navbar = document.getElementById("navbar");

  let navbarOffset = navbar?.offsetTop || 150;

  document.addEventListener("scroll", () => {
    if (window.scrollY >= navbarOffset) {
      topHeader?.classList.remove("px-8");
      topHeader?.classList.remove("pt-8");
      navbar?.classList.remove("rounded-xl");
      navbar?.classList.remove("px-4");
      navbar?.classList.remove("py-4");
    } else {
      topHeader?.classList.add("px-8");
      topHeader?.classList.add("pt-8");
      navbar?.classList.add("rounded-xl");
      navbar?.classList.add("px-4");
      navbar?.classList.add("py-4");
    }
  });
</script>
